@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}
.sidebar{
    height: 100%;
    width: 225px;
    background-color: rgb(104, 100, 100);
    position: fixed;
    padding: 20px 0;
    transition: all 0.5s ease;
} 

.title{
    color: rgb(43, 31, 31);
}

main{
    height: calc(100vh-70px);
    display: flex;
    background-color: rgb(126,77,77);
}
